@model IEnumerable<Models.Libro>

<body>

    <!-- Body de la pagina -->
    <div>
        <h1 class="texto-libro">Libros</h1>
    </div>
    <!-- Filtros y búsqueda -->
    <div class="row g-2 mb-3 justify-content-start filtros ">
        <!-- Buscar -->
        <div class="position-relative" style="width: 255px;">
            <i class="fa-solid fa-magnifying-glass position-absolute"
            style="top: 50%; left: 8px; transform: translateY(-50%); color: #6c757d; font-size: 0.9rem;"></i>
            <input type="text" class="form-control ps-4" placeholder="Buscar" style="padding-left: 30px;">
        </div>

        <!-- Ordenar por -->
        <div class="col-2">
            <div class="dropdown border border-graydark rounded">
                <button class="btn text-start w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="d-flex text-secondary">
                        <span>Ordenar por</span>
                        <i class="bi bi-chevron-down ms-auto me-0"></i>
                    </div>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="#"><i class="fa fa-arrow-up text-primary me-2"></i>Nombre(A-Z)</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-arrow-down text-primary me-2"></i>Nombre(Z-A)
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Filtrar por -->
        <div class="col-2">
            <div class="dropdown border border-graydark rounded">
                <button class="btn text-start w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="d-flex text-secondary">
                        <span>Filtrar por</span>
                        <i class="bi bi-chevron-down ms-auto me-0"></i>
                    </div>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="#"><i class="fa-regular fa-id-card text-primary me-2 "></i>Cédula</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fa-regular fa-envelope text-primary me-2"></i>Correo
                        </a>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-fonts text-primary me-2"></i>Nombre</a></li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-phone text-primary me-2"></i>Número de Teléfono
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col d-flex justify-content-end botonagregar">
            <button type="button" class="btn btn-agregar-libro d-flex align-items-center">
                <i class="fa-solid fa-book me-1"></i>
                <i class="fa-solid fa-plus me-1" style="font-size:10px;"></i>
                Agregar libro
            </button>

        </div>

        <!--Modal Crear Via AJAX-->
        <div class="modal fade" id="ModalCrearLibro" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" id="ModalCrearLibroContent">
                    <!-- Aquí se carga el partial -->
                </div>
            </div>
        </div>

        <!--Modal Ver Mas Via AJAX-->
        <div class="modal fade" id="ModalVerMasLibro" tabindex="-1">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" id="ModalVerMasLibroContent">
                    <!-- Aquí se carga el partial -->
                </div>
            </div>
        </div>

        <!--Modal IndexCopiaLibro Via AJAX-->
        <!-- Modal principal -->
        <div class="modal fade" id="ModalCopiasLibro" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content" id="ModalCopiasLibroContent">
                    <!--Se carga la vista-->
                </div>
            </div>
        </div>

        @if (Model == null || !Model.Any())
        {
            <p>No hay libros disponibles.</p>
        }
        else
        {
            <div class="container mt-4 px-4">
                <div class="row justify-content-center">
                    @foreach (var libro in Model)
                    {
                        <div class="col-md-3 mb-4 g-4 double-click-card" data-id="@libro.IdLibro">
                            <div class="card shadow-sm">
                                <img src="@(string.IsNullOrEmpty(libro.ImagenUrl) ? "~/images/default-book.png" : $"~/Libros/images/{libro.ImagenUrl}")"
                                     class="card-img-top" alt="foto del libro" />
                                <div class="card-body text-start">
                                    <h6 class="card-title mb-1">@libro.Titulo</h6>
                                </div>
                                <button type="button" class="btn btn-primary btn-vermas-libro" id="id" data-id="@libro.IdLibro">
                                    Ver más
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <!-- Paginación de libros -->
        <nav aria-label="...">
            <ul class="pagination pagpersonalizada">
                <li class="page-item disabled">
                    <a class="page-link">Anterior</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-current="page">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Siguiente</a>
                </li>
            </ul>
        </nav>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>



<script src="~/Clientes/main.js"></script>
<script>
        $(document).ready(function () {
        $(document).on('click', '.btn-agregar-libro', function () {
            $.ajax({
                url: '/Libro/_PartialCrearLibro',
                type: 'GET',
                success: function (data) {
                    $('#ModalCrearLibroContent').html(data);
                    var myModal = new bootstrap.Modal(document.getElementById('ModalCrearLibro'));
                    myModal.show();
                }
            });
        });
    });
</script>

<script>
    $(function(){
      $('.btn-vermas-libro').click(function(){
        var libroId = $(this).data('id');
        $.get('/Libro/_PartialVerMasLibro/' + libroId)
          .done(function(html){
            $('#ModalVerMasLibroContent').html(html);
            $('#ModalVerMasLibro').modal('show');
          })
          .fail(function(){
            alert('No se pudo cargar el formulario de edición.');
          });
      });
    });
</script>
<script>
      $(document).on('dblclick', '.double-click-card', function () {
        var libroId = $(this).data('id');
        $.get('/CopiaLibro/Index/' + libroId)
            .done(function (html) {
                $('#ModalCopiasLibroContent').html(html);
                $('#ModalCopiasLibro').modal('show');
            })
            .fail(function () {
                alert('No se pudo cargar el formulario de edición.');
            });
    });
</script>