/*----------------------------------vista para ver las copias-------------------*/

.encabezado-modal {
	background: #811c3e;
	color: white;
}

.titulo-modal {
	margin: auto;
	color: #811;
	font-family: 'Inter', sans-serif;
}

.tarjeta-copia {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	background: white;
	width: 100%;
	position: relative;
}

	.tarjeta-copia img {
		width: 60px;
		height: 100px;
	}

.texto-tarjeta {
	margin-left: 10px;
	font-size: 14px;
}

.icono-ajustes {
	color: #811c3e;
	font-size: 30px;
	margin-left: auto;
	cursor: pointer;
	position: absolute;
	top: -3rem; /* ajusta la distancia desde arriba */
	right: 0.5rem; /* ajusta la distancia desde la derecha */
	z-index: 1; /* por si se oculta detrás de otros elementos */
}

.dropdown-item:hover {
	background-color: rgba(255, 0, 81, 0.06);
	; /*cursor encima del menu*/
	color: #811;
}

input.form-control:focus {
	border-color: #811c3e; /*cambiar e color de la barra de busqueda */
	box-shadow: 0 0 5px #811c3e;
	outline: none;
}

.btn-vino:hover,
.btn-vino:focus {
	border-color: #811c3e;
	color: grey;
	outline: grey;
	box-shadow: none;
}

.dropdown-menu {
	min-width: 170px;
	border: grey;
}

.btn-close:focus {
	outline: none; /*eliminar el cuadro de la x*/
	box-shadow: none;
}

/*----------------------icono de herramienta---------------------------------*/
.texto-editar {
	color: #811c3e !important;
}

.texto-eliminar {
	color: #000000 !important;
}



/*----------------------agregar copia---------------------------------*/

.col-md-6 .text-center {
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.boton-agregar {
	background-color: #811c3e;
	border: 1px solid #811c3e;
	color: white;
}

	.boton-agregar:hover,
	.boton-agregar:focus,
	.boton-agregar:active {
		background-color: #811c3e;
		color: white;
		border-color: #811c3e;
	}

.btn-custom {
	background-color: #811c3e; /* Botones de guardar y subir imagen */
	color: white;
	border: 1px solid #811c3e;
	border-radius: 10px;
}

	.btn-custom:hover {
		background-color: #c13262; /* Hover del botón personalizado */
		color: white;
	}

.btn-outline-custom {
	background-color: white;
	color: #811c3e;
	border: 1px solid #811c3e;
	border-radius: 10px;
}

	.btn-outline-custom:hover {
		background-color: #c13262;
		color: white;
	}

.titulo-modal2 {
	color: #811;
	font-size: 2rem;
}

.form-select:focus {
	border-color: #800020;
	box-shadow: 0 0 5px #800020;
	outline: none;
}

.icono-Subir {
	color: white;
}

/*-----------------------Eliminar copia------------*/


.modal-header {
	border-bottom: none;
	justify-content: flex-end;
}

.modal-body {
	text-align: center;
}

	.modal-body i {
		font-size: 1rem;
		color: #842029; /* icono */
	}

	.modal-body h5 {
		margin-top: 10px;
		color: #842029;
	}

.libro-box {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	border: 1px solid #dee2e6;
	border-radius: 8px;
	padding: 10px 15px;
	margin: 15px 0;
	background-color: #fff;
}

	.libro-box img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

.libro-info {
	text-align: left;
	font-size: 0.9rem;
}

	.libro-info .titulo {
		font-weight: 600;
	}

	.libro-info .codigo {
		color: #000000;
	}

.btn-secondary {
	background-color: white;
	color: #811c3e;
	border: 1px solid #7e0930; /*cursor encima de los botones guardar y subir*/
	border-radius: 10px;
}

.btn-danger {
	background-color: #811c3e; /*botones de guardar y subir imagen*/
	color: white;
	border: 1px solid #811c3e;
	border-radius: 10px;
}

	.btn-danger:hover {
		background-color: rgba(255, 0, 81, 0.06);
		; /*cursor encima del menu*/
		color: #811;
	}

.btn-secondary:hover {
	background-color: #ff00510f; /*cursor encima del menu*/
	color: #811;
}

/*-------modal exito-----------------*/
.modal-header {
	border-bottom: none;
	justify-content: flex-end;
}

.modal-body1 {
	text-align: center;
}

	.modal-body1 i {
		font-size: 3rem;
		color: #842029; /* icono*/
	}

	.modal-body1 h5 {
		margin-top: 10px; /* titulo*/
		color: #842029;
	}

.btn-primary {
	background-color: #842029;
	border-color: #811;
}

	.btn-primary:hover {
		background-color: #c13262; /*mouse encima del boton*/
		color: #811;
	}

/*-----------------------------Modal de Error---------------------*/
.modal-header2 {
	border-bottom: none;
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
	border-bottom: none;
}

.modal-body2 {
	text-align: center;
}

	.modal-body2 i {
		font-size: 3rem;
		color: #842029; /* icono*/
	}

	.modal-body2 h5 {
		margin-top: 10px; /* titulo*/
		color: #842029;
	}

.btn-primary {
	background-color: #842029;
	border-color: #842029;
}
