@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Saber Y Cultura</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Login/styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
</head>
<body>
    <!-- Contenedor que ocupa todo el ancho de la pantalla -->
    <div class="container-fluid">

        <div class="row h-100">

            <!-- Parte del Izquierda del Login-->
            <div class="col-md-4 login-box">

                <!-- Parte del Logo-->
                <div class="d-flex align-items-center gap-2 ps-4 pt-4">
                    <img src="~/Login/resources/Logo.png" alt="Logo de libros" class="logo" style="max-height: 45px;">
                    <div class="d-flex flex-column lh-sm">
                        <span style="font-family: 'Merriweather', serif; color: #8C2445; font-size: 0.8rem;">SABER Y</span>
                        <span style="font-family: 'Merriweather', serif; font-weight: 900; font-size: 0.8rem;">CULTURA</span>
                    </div>
                </div>


                <h1>Iniciar Sesión</h1>
                <p>Por favor ingrese sus datos.</p>

                <!-- Formulario de inicio de sesión -->
                <form method="post" class="form-login">

                    <!-- Input de Usuario -->
                    <div class="form-floating-custom mb-4">
                        <input asp-for="Input.NombreUsuario" type="text" id="usuario" class="form-control form-control-login" placeholder=" ">
                        <label for="usuario">Nombre de usuario</label>
                        <span asp-validation-for="Input.NombreUsuario" class="text-danger"></span>
                    </div>

                    <!-- Input de Contraseña -->
                    <div class="form-floating-custom mb-1">
                        <div class="input-group input-group-login">
                            <input asp-for="Input.Contrasena" type="password" autocomplete="current-password" aria-required="true" id="password-login" class="form-control form-control-login" placeholder=" ">
                            <label asp-for="Input.Contrasena" for="password">Contraseña</label>
                            <span class="input-group-text input-group-text-login" onclick="togglePassword()" style="cursor:pointer;">
                                <i class="bi bi-eye-slash"></i>
                            </span>

                            <span asp-validation-for="Input.Contrasena" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- Botón para enviar el formulario -->
                    <button id="login-submit" type="submit" class="btn-login">Iniciar Sesión</button>
                </form>

                <!-- Espacio Divisorio -->
                <div class="divider ">
                    <span>o</span>
                </div>

                <!-- Redirige a la pagina de registro -->
                <div class="divider mt-0">
                    ¿No tienes una cuenta? <a asp-area="Identity" asp-page="/Account/Register" class="text-decoration-none">Crear Cuenta</a>
                </div>

                <!-- Texto del Footer -->
                <div class="footer-text mb-4">
                    Biblioteca Saber y Cultura, Todos los derechos reservados.
                </div>
            </div>

            <!-- Imagen de la derecha, es imagen en pantallas medianas a grandes -->
            <div class="col-md-8 d-none d-lg-block p-0 h-100">
                <img src="~/Login/resources/Fondo-Login.jpg" class="w-100 h-100 object-fit-cover" alt="Biblioteca">
            </div>
        </div>
    </div>


    <!-- Importa Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Script para visibilidad de la contraseña -->
    <script>
        function togglePassword() {
          const input = document.getElementById('password-login');
          const icon = document.querySelector('.input-group-text i'); // Selecciona el ícono del ojo
          if (input.type === 'password') {
            input.type = 'text';
            icon.classList.remove('bi-eye-slash');
            icon.classList.add('bi-eye');
          } else {
            input.type = 'password';
            icon.classList.remove('bi-eye');
            icon.classList.add('bi-eye-slash');
          }
        }
    </script>


</body>
</html>