<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepagecss.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Home</title>
</head>
<body>
    <div class="libros-fondo"></div>

      <header class="d-flex align-items-center gap-2 mt-5 ms-5 ">
        <!-- Logo -->
        <img src="Logo.png" alt="Logo" style="max-height: 50px;" />
        <div class="d-flex flex-column lh-sm">
          <span style="font-family: 'Merriweather', serif; color: #8C2445; font-weight: bold;  font-size: 1rem;">SABER Y</span>
          <span style="font-family: 'Merriweather', serif; font-weight: 900; font-size: 1rem;">CULTURA</span>
        </div>
      </header>

        <nav class="mt-5 ms-5 mb-5 ps-2">
          <h2 class="mb-0" style="font-family: sans-serif; font-size: 2.5rem; font-weight: 200;"  >Bienvenido/a <br>
            <span style="color: #8C2445; font-weight: 200;">Yaret</span>, a Saber Y Cultura</h2>
        </nav>

        <main class="container-fluid mt-5 ms-5  pt-3">
          <div class="row">
            <!-- Botones Principales -->
            <div class="col-md-3 mb-4 ">
              <h6 class="mb-2 subtitulo">¿Qué necesitas hacer hoy?</h6>

                <button class="btn w-100 mb-3 d-flex align-items-center gap-2 boton-custom ">
                  <i class="bi  bi-journal-bookmark"></i> Gestión de Préstamos
                </button>

                <button class="btn w-100 mb-3 d-flex align-items-center gap-2 boton-custom">
                  <i class="bi bi-people"></i> Gestión de Clientes
                </button>

                <button class="btn w-100 mb-3 d-flex align-items-center gap-2 boton-custom">
                  <i class="bi bi-book"></i> Gestión de Libros
                </button>
              </div>

              <!-- Información de usuario -->
              <div class="col-md-3 mb-2 informacion-usuario">
                <h6 class="mb-2 subtitulo">Información de Usuario</h6>

                <div class="card text-center p-4 usuario-card">
                  <i class="bi bi-person-circle" style="font-size: 4rem; margin-bottom: 0.5rem;"></i>
                  <h6 class="mb-0">Yaret</h6>
                  <span class="text-muted mb-3 mt-1">Usuario</span>

                  <button class="btn w-100 mb-2 d-flex align-items-center boton-custom" data-bs-toggle="modal" data-bs-target="#perfilModal">
                    <i class="bi bi-info-circle"></i> Ver Perfil
                  </button>

                  <button class="btn w-100 d-flex align-items-center boton-custom">
                    <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                  </button>
                </div>
              </div>

            <!--Imagen -->
            <div class="col-md-6 text-center">
              
              <img src="ArbolHome.png" alt="Ilustración" class="imagen-arbol" >
              
            </div>
          </div>

          <!-- Resumen General -->
          <h6 class="mb-2 mt-0 subtitulo text-muted">Resumen General</h6>

            <div class="row resumen-general">
              <div class="col-1">
                <div class="resumen d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="mb-1 text-muted mt-0">Libros</h6>
                    <h4 class="mb-0">2</h4>
                  </div>
                  <i class="bi bi-book resumen-icono-derecha"></i>
                </div>
              </div>
              <div class="col-1">
                <div class="resumen d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="mb-1 text-muted mt-0">Préstamos</h6>
                    <h4 class="mb-0">21</h4>
                  </div>
                  <i class="bi bi-briefcase resumen-icono-derecha"></i>
                </div>
              </div>
              <div class="col-1">
                <div class="resumen d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="mb-1 text-muted mt-0">Clientes</h6>
                    <h4 class="mb-0">1</h4>
                  </div>
                  <i class="bi bi-person-vcard resumen-icono-derecha"></i>
                </div>
              </div>
              <div class="col-1">
                <div class="resumen d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="mb-1 text-muted mt-0">Usuarios</h6>
                    <h4 class="mb-0">1</h4>
                  </div>
                  <i class="bi bi-people resumen-icono-derecha"></i>
                </div>
              </div>
            </div>

        </main>
    
        
    
     
        <footer>
        <div class="text-center mt-4 text-muted">
          Biblioteca Saber y Cultura, Todos los derechos reservados.
        </div>
        </div>
        </footer>



        <!--MODAL-->
       <div class="modal fade" id="perfilModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content" style="border-radius: 10px; overflow: hidden; position: relative;">
            <div class="modal-header justify-content-between px-5 py-4" style="background-color: #8C2445; color: white;">
              <div class="d-flex align-items-center gap-2">
                
              </div>
              <button type="button" class="btn-close btn-close-white"  data-bs-dismiss="modal" aria-label="Close" style="outline: none; box-shadow: none;"></button>
            </div>
            <div class="fotito">
                <i class="bi bi-person-circle text-dark" style="font-size: 5rem;"></i>
            </div>
            
            <div class="modal-body p-5">
              <form class="row g-3">
                <div class="col-md-4">
                  <label class="form-label text-muted ms-1 mb-0">Nombre</label>
                  <input type="text" class="form-control"  value="María">
                </div>
                <div class="col-md-4">
                  <label class="form-label text-muted ms-1 mb-0">Primer Apellido</label>
                  <input type="text" class="form-control"  value="Rodríguez">
                </div>
                <div class="col-md-4">
                  <label class="form-label text-muted ms-1 mb-0">Segundo Apellido</label>
                  <input type="text" class="form-control"  value="Pérez">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-muted ms-1 mb-0">Correo Electrónico</label>
                  <input type="email" class="form-control"  value="maria@covao.ed.cr">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-muted ms-1 mb-0">Número de Teléfono</label>
                  <input type="tel" class="form-control"  value="8888-8888">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-muted ms-1 mb-0 ">Número de Cédula</label>
                  <input type="text" class="form-control"  value="1-2345-6789">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-muted ms-1 mb-0">Nombre de Usuario</label>
                  <input type="text" class="form-control"  value="mariarpz">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-muted ms-1 mb-0">Contraseña</label>
                  <input type="password" class="form-control"  value="12345678">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-muted ms-1 mb-0">Confirmar Contraseña</label>
                  <input type="password" class="form-control"  value="12345678">
                </div>
                <div class="col-12">
                  <label class="form-label fw-bold text-muted">Rol: Usuario</label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button class="btn btn-primary" style="background-color: #8C2445; border: none;">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>