.row{
    margin: 20px;
}

.row.align-items-stretch {
  height: 100%;
}

.col-md-8 > .row {
  height: 100%;
}

.col-md-8 .card {
  height: 100%;
}

@media (max-width: 768px) {
  .col-md-8 > .row {
    flex-direction: column;
  }

  .col-md-8 .card {
    margin-bottom: 1rem;
  }
}

.card i {
  display: block;
  margin-bottom: 0.5rem;
}


.rounded-square{
  width: 350px;
  padding-bottom: 100px;
}

.bi-pencil-square{
  color: #791d35;
}

.bi-person-x{
  color:#791d35;
}

.bi-pencil{
  color:#791d35
}

.col-5{
  margin-right: 30px;
  width: 535px;
}

.col-md-4{
  margin-bottom: 50px;
}

.col-md-8{
  margin-bottom: 50px;
}

.col-sm-6{
  height: 400px;
  width: 380px;
  margin-right: 55px;
}

.col-sm-6 button{
  width: 100px;
  color: #791d35;
}

.btn:hover{
  background-color: #8c2445;
  color: white !important;
}

.dropdown-toggle::after{
  display: none !important;
}