@model IEnumerable<Models.CopiaLibro>
@{
    var titulo = Model.First().Libro.Titulo;
}

<div class="copia-libro-modal">
    <div class="modal-header encabezado-modal justify-content-center">
        <h5 class="modal-title titulo-modal"></h5>
        <button type="button" class="btn-close btn-close-white ms-3" data-bs-dismiss="modal" aria-label="Cerrar"></button>
    </div>
    <br>
    <h3 class="titulo-modal">Copias de “@titulo”</h3>
    <br>

    <div class="modal-body">
        <!-- Buscador, filtros y agregar -->
        <div class="d-flex flex-wrap mb-3 align-items-center gap-2">
            <p class="modal-title titulo-modal" style="width: 130px;"></p>

            <!-- Buscador -->
            <div class="col-3">
                <div class="input-group border-graydark border rounded d-flex align-items-center">
                    <i class="bi bi-search me-2 ms-1 text-secondary"></i>
                    <input type="text" class="form-control border-0 text-secondary" placeholder="Buscar" />
                </div>
            </div>

            <!-- Estados -->
            <div class="dropdown-center">
                <button class="btn btn-vino d-flex justify-content-between align-items-center text-truncate dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        style="width: 240px; border: 1px solid #ced4da;">
                    <span class="me-auto">Estado</span>
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Disponible</a></li>
                    <li><a class="dropdown-item" href="#">Prestado</a></li>
                    <li><a class="dropdown-item" href="#">Dañado</a></li>
                </ul>
            </div>
            <p class="modal-title titulo-modal" style="width: 1px;"></p>
        </div>

        <!-- Estructura de las cards-->
        <div class="row g-3">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="tarjeta-copia">
                        <img src="~/Images/Libros/@item.Libro.ImagenUrl"
                             alt="Imagen del libro"
                             style="width:100px; height:170px; object-fit:cover;" />

                        <div class="texto-tarjeta">
                            <div>Copia #@item.IdCopiaLibro</div>
                            <div>Estado: <br>@item.EstadoCopiaLibro.Nombre</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/CSS/CopiaLibroStyles.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
