/*----------------------------------vista para ver las copias-------------------*/
.copia-libro-modal .encabezado-modal {
	background: #811c3e;
	color: white;
}

.copia-libro-modal .titulo-modal {
	margin: auto;
	color: #811;
	font-family: 'Inter', sans-serif;
	text-align: center;
}

.copia-libro-modal .tarjeta-copia {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	background: white;
	width: 100%;
	position: relative;
}

	.copia-libro-modal .tarjeta-copia img {
		width: 60px;
		height: 100px;
	}

.copia-libro-modal .texto-tarjeta {
	margin-left: 10px;
	font-size: 14px;
}

.copia-libro-modal .icono-ajustes {
	color: #811c3e;
	font-size: 30px;
	margin-left: auto;
	cursor: pointer;
	position: absolute;
	top: -3rem;
	right: 0.5rem;
	z-index: 1;
}

.copia-libro-modal .dropdown-item:hover {
	background-color: rgba(255, 0, 81, 0.06);
	color: #811;
}

.copia-libro-modal input.form-control:focus {
	border-color: #811c3e;
	box-shadow: 0 0 5px #811c3e;
	outline: none;
}

.copia-libro-modal .btn-vino:hover,
.copia-libro-modal .btn-vino:focus {
	border-color: #811c3e;
	color: grey;
	outline: grey;
	box-shadow: none;
}

.copia-libro-modal .dropdown-menu {
	min-width: 170px;
	border: grey;
}

.copia-libro-modal .btn-close:focus {
	outline: none;
	box-shadow: none;
}

/*----------------------icono de herramienta---------------------------------*/
.copia-libro-modal .texto-editar {
	color: #811c3e !important;
}

.copia-libro-modal .texto-eliminar {
	color: #000000 !important;
}

/*----------------------agregar copia---------------------------------*/
.copia-libro-modal .col-md-6 .text-center {
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.copia-libro-modal .boton-agregar {
	background-color: #811c3e;
	border: 1px solid #811c3e;
	color: white;
}

	.copia-libro-modal .boton-agregar:hover,
	.copia-libro-modal .boton-agregar:focus,
	.copia-libro-modal .boton-agregar:active {
		background-color: #811c3e;
		color: white;
		border-color: #811c3e;
	}

.copia-libro-modal .btn-custom {
	background-color: #811c3e;
	color: white;
	border: 1px solid #811c3e;
	border-radius: 10px;
}

	.copia-libro-modal .btn-custom:hover {
		background-color: #c13262;
		color: white;
	}

.copia-libro-modal .btn-outline-custom {
	background-color: white;
	color: #811c3e;
	border: 1px solid #811c3e;
	border-radius: 10px;
}

	.copia-libro-modal .btn-outline-custom:hover {
		background-color: #c13262;
		color: white;
	}

.copia-libro-modal .titulo-modal2 {
	color: #811;
	font-size: 2rem;
}

.copia-libro-modal .form-select:focus {
	border-color: #800020;
	box-shadow: 0 0 5px #800020;
	outline: none;
}

.copia-libro-modal .icono-Subir {
	color: white;
}

/*-----------------------Eliminar copia------------*/
.copia-libro-modal .modal-header {
	border-bottom: none;
	justify-content: flex-end;
}

.copia-libro-modal .modal-body {
	text-align: center;
}

	.copia-libro-modal .modal-body i {
		font-size: 1rem;
		color: #842029;
	}

	.copia-libro-modal .modal-body h5 {
		margin-top: 10px;
		color: #842029;
	}

.copia-libro-modal .libro-box {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	border: 1px solid #dee2e6;
	border-radius: 8px;
	padding: 10px 15px;
	margin: 15px 0;
	background-color: #fff;
}

	.copia-libro-modal .libro-box img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

.copia-libro-modal .libro-info {
	text-align: left;
	font-size: 0.9rem;
}

	.copia-libro-modal .libro-info .titulo {
		font-weight: 600;
	}

	.copia-libro-modal .libro-info .codigo {
		color: #000000;
	}

.copia-libro-modal .btn-secondary {
	background-color: white;
	color: #811c3e;
	border: 1px solid #7e0930;
	border-radius: 10px;
}

.copia-libro-modal .btn-danger {
	background-color: #811c3e;
	color: white;
	border: 1px solid #811c3e;
	border-radius: 10px;
}

	.copia-libro-modal .btn-danger:hover {
		background-color: rgba(255, 0, 81, 0.06);
		color: #811;
	}

.copia-libro-modal .btn-secondary:hover {
	background-color: #ff00510f;
	color: #811;
}

/*-------modal exito-----------------*/
.copia-libro-modal .modal-body1 {
	text-align: center;
}

	.copia-libro-modal .modal-body1 i {
		font-size: 3rem;
		color: #842029;
	}

	.copia-libro-modal .modal-body1 h5 {
		margin-top: 10px;
		color: #842029;
	}

.copia-libro-modal .btn-primary {
	background-color: #842029;
	border-color: #811;
}

	.copia-libro-modal .btn-primary:hover {
		background-color: #c13262;
		color: #811;
	}

/*-----------------------------Modal de Error---------------------*/
.copia-libro-modal .modal-header2 {
	border-bottom: none;
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
}

.copia-libro-modal .modal-body2 {
	text-align: center;
}

	.copia-libro-modal .modal-body2 i {
		font-size: 3rem;
		color: #842029;
	}

	.copia-libro-modal .modal-body2 h5 {
		margin-top: 10px;
		color: #842029;
	}

.copia-libro-modal .btn-primary {
	background-color: #842029;
	border-color: #842029;
}
