@model IEnumerable<Models.ViewModels.UsuarioVM>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vista proyecto</title>
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter&display=swap" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fortawesome/fontawesome-free@6.5.2/css/all.min.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" asp-append-version="true">
    *@
    <link rel="stylesheet" href="~/Usuario/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/Usuario/bootstrap.css" asp-append-version="true">




    <!-- Contenedor principal -->
    <div class="container-fluid mt-4 px-4">


        <!-- Encabezado con título y botón -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="titulo-usuario">Usuarios</h1>
            <!-- Botón que activa el modal -->
            <!-- Botón para abrir Agregar Usuario -->
            <button class="btn btn-primary btn-agregarUsuario" data-id="">
                <i class="fa-solid fa-user-plus me-2"></i>
                Agregar Usuario
            </button>
        </div>

        <!-- Filtros y búsqueda -->
        <div class="row g-2 mb-4">

            <!-- Filtrar por -->
            <div class="col-2">
                <div class="dropdown border border-graydark rounded">
                    <button class="btn text-start w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="d-flex align-items-center text-secondary">
                            <span>Filtrar por</span>
                            <i class="bi bi-chevron-down ms-auto me-0"></i>
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><i class="fa-regular fa-id-card text-primary me-2"></i>Cédula</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-regular fa-envelope text-primary me-2"></i>Correo</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-fonts text-primary me-2"></i>Nombre</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-phone text-primary me-2"></i>Número de Teléfono</a></li>

                        <!-- Rol con submenú -->
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">
                                <i class="fa-solid fa-user text-primary me-2"></i>Rol
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user-group text-primary me-2"></i>Usuario</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user text-primary me-2"></i>Administrador</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Ordenar por -->
            <div class="col-2">
                <div class="dropdown border border-graydark rounded">
                    <button class="btn text-start w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="d-flex align-items-center text-secondary">
                            <span>Ordenar por</span>
                            <i class="bi bi-chevron-down ms-auto me-0"></i>
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><i class="fa fa-arrow-up text-primary me-2"></i>Nombre(A-Z)</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa fa-arrow-down text-primary me-2"></i>Nombre(Z-A)</a></li>
                    </ul>
                </div>
            </div>

            <!-- Buscar -->
            <div class="col-3 ms-auto">
                <div class="input-group border-graydark border rounded d-flex align-items-center">
                    <i class="bi bi-search me-2 ms-1 text-secondary"></i>
                    <input type="text" class="form-control border-0 text-secondary" placeholder="Buscar">
                </div>
            </div>

        </div>



        <div class="container-fluid">
            <div class="row">
                @foreach (var usuario in Model)
                {
                <div class="col-4">
                    <div class="card card-user mb-4">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <!-- Info usuario -->
                                <div class="d-flex align-items-center">
                                    <img src="https://via.placeholder.com/50" alt="Foto de perfil" class="profile-pic me-3">
                                    <div>
                                        <p class="user-name">juan.perez</p>
                                        <p class="user-fullname">Juan Pérez Gómez</p>
                                    </div>
                                </div>

                                <!-- Dropdown editar/eliminar -->
                                <div class="dropdown dropend">
                                    <button class="btn p-0 border-0 bg-transparent" style="box-shadow:none;" type="button"
                                            id="dropdownOpcionesUsuario-1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-gear-fill text-primary fs-3"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownOpcionesUsuario-1">
                                        <li class="mb-2">
                                            <button type="button" class="dropdown-item text-primary fs-5 btn-edit-user" data-id="1">
                                                <i class="bi bi-pencil"></i> Editar
                                            </button>
                                        </li>
                                        <li><hr class="dropdown-divider" style="opacity: 40%;"></li>
                                        <li class="mt-2">
                                            <button type="button" class="dropdown-item text-primary fs-5 btn-delete-user" data-id="1">
                                                <i class="bi bi-trash"></i> Eliminar
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <hr>

                            <!--Datos-->
                            <p><span class="user-info-label">Cédula:</span> 123456789</p>
                            <p><span class="user-info-label">Teléfono:</span> +506 8888-8888</p>
                            <p><span class="user-info-label">Correo:</span> juan.perez@email.com</p>
                            <p><span class="user-info-label">Rol:</span> Administrador</p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>



        <!-- Modal Crear Usuaria Via AJAX-->
        <div class="modal fade" id="ModalCrearUsuario" name="ModalCrearUsuario" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" id="modalCrearUsuarioContent">
                    <!-- Aquí se carga el contenido con AJAX -->
                </div>
            </div>
        </div>

    <!-- Modal Actualizar Usuario Via AJAX -->
    <div class="modal fade" id="ModalActualizarUsuario" name="ModalActualizarUsuario" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modalActualizarUsuarioContent">
                <!-- Aquí se carga el contenido con AJAX -->
            </div>
        </div>
    </div>

    <!-- Modal Eliminar Usuario Via AJAX -->
    <div class="modal fade" id="ModalEliminarUsuario" name="ModalEliminarUsuario" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modalEliminarUsuarioContent">
                <!-- Aquí se carga el contenido con AJAX -->
            </div>
        </div>
    </div>



        <!-- Modal Éxito Editar -->
        <div class="modal-exito" id="modalSuccessEditar">
            <div class="modal-content">
                <div class="modal-icon">
                    <i class="bi bi-check-circle" style="color: #8C2445; font-size: 70px;"></i>
                </div>
                <h2>¡Éxito!</h2>
                <p>Se editó el usuario correctamente.</p>
                <label for="toggleSuccessEditar" class="modal-button">OK</label>
            </div>
        </div>


        <!-- Checkbox para abrir modal de ELIMINAR -->
        <input type="checkbox" id="toggleDeleteModal" hidden>

        <!-- Checkbox para abrir modal de ÉXITO después de eliminar -->
        <input type="checkbox" id="toggleSuccessDelete" hidden>

        <!-- Modal Éxito Eliminar -->
        <div class="modal-exito" id="modalSuccessDelete">
            <div class="modal-content">
                <div class="modal-icon">
                    <i class="bi bi-check-circle" style="color: #8C2445; font-size: 70px;"></i>
                </div>
                <h2>¡Éxito!</h2>
                <p>Se eliminó el usuario correctamente.</p>
                <label for="toggleSuccessDelete" class="modal-button">OK</label>
            </div>
        </div>


            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
            <script>
                $(document).ready(function () {
                    $(document).on('click', '.btn-agregarUsuario', function () {
                        $.ajax({
                            url: '/Usuario/_PartialCrearUsuario',
                            type: 'GET',
                            success: function (data) 
                            {   
                        $('#modalCrearUsuarioContent').html(data);
                                var myModal = new bootstrap.Modal(document.getElementById('ModalCrearUsuario'));
                                myModal.show();
                            }
                        });
                    });
                });
            </script>

    <script>
        $(function(){
          $('.btn-edit-user').click(function(){
            var userId = $(this).data('id');
            $.get('/Usuario/Edit/' + userId)
              .done(function(html){
                $('#ModalActualizarUsuario .modal-content').html(html);
                $('#ModalActualizarUsuario').modal('show');
              })
              .fail(function(){
                alert('No se pudo cargar el formulario de edición.');
              });
          });
        });
    </script>

    <script>
        $(function(){
          $('.btn-delete-user').click(function(){
            var userId = $(this).data('id');
            $.get('/Usuario/GetDelete/' + userId)
              .done(function(html){
                $('#ModalEliminarUsuario .modal-content').html(html);
                $('#ModalEliminarUsuario').modal('show');
              })
              .fail(function(){
                alert('No se pudo cargar el formulario de edición.');
              });
          });
        });
    </script>



