﻿
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vista proyecto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Usuarios/UsuariosIndex.css" asp-append-version="true" />
</head>


<body>

    <nav class="d-flex justify-content-between align-items-center navbar-custom bg-white">


        <!--Logo-->
        <div class="d-flex align-items-center gap-2">
            <img src="~/imagenes/Usuarios/S&C logo.png" alt="Logo" width="100" />
            <div class="logo-text">
                <span class="logo-highlight">SABER Y</span><br>CULTURA
            </div>
        </div>



        <div class="d-flex align-items-center">


            <!--Usuarios-->
            <a href="#" class="nav-link-custom">
                <img src="~/imagenes/Usuarios/Usuarios icono.png" alt="Icono usuarios" width="40" /> Usuarios
            </a>

            <div class="navbar-divider"></div>


            <!-- Perfil -->
            <div href="#" class="nav-link-custom">
                <img src="~/imagenes/Usuarios/Usuario icono.png" alt="Icono admin" width="30" />
                <div>
                    <p class="profile-name">Yaret</p>
                    <p class="profile-role">Administrador</p>
                </div>
            </div>
        </div>
    </nav>



    <div class="superior-usuarios">
        <h1 class="texto-usuarios">Usuarios</h1>
        <button class="btn-agregar">
            <img src="~/imagenes/Usuarios/Agregar usuario.png" alt="" width="30" /> Agregar Usuario
        </button>
    </div>

    <!-- Filtros y búsqueda -->
    <div class="filtros d-flex gap-3 flex-wrap mb-4">
        <select class="form-select filtro-control">
            <option selected>Filtrar por</option>
            <option value="1">Cédula</option>
            <option value="2">Correo</option>
            <option value="3">Nombre</option>
            <option value="4">Número de Teléfono</option>
            <option value="5">Rol</option>
        </select>

        <select class="form-select filtro-control">
            <option selected>Ordenar por</option>
            <option value="1">Recientes</option>
            <option value="2">Nombre (A-Z)</option>
            <option value="3">Nombre (Z-A)</option>
        </select>

        <div class="input-group filtro-control buscar-input">
            <span class="input-group-text bg-white">
                <img src="~/imagenes/Usuarios/Lupita.png" alt="Icono admin" width="30" />
            </span>
            <input type="text" class="form-control" placeholder="Buscar">
        </div>
    </div>



    <div class="container-fluid py-4 div.col-md-4 px-3">



        <div class="row g-4">

            <div class="col-md-3">

                <div class="card p-3 user-card">
                    <i class="bi bi-gear-fill settings-icon"></i>

                    <button class="btn btn-sm btn-light position-absolute top-0 end-0 m-2" title="Editar">
                        <img src="~/imagenes/Usuarios/Gear.png" alt="Editar" width="20" height="20" />
                    </button>

                    <div class="d-flex align-items-center gap-3">
                        <img src="~/imagenes/Usuarios/Foto perfil.png" alt="Foto" class="user-img" />

                        <div>
                            <h6 class="mb-0">Jose P</h6>
                            <small class="text-muted">Jose Pablo Araya</small>
                        </div>

                    </div>

                    <hr>
                    <div class="mt-2">
                        <p><span class="label">Cédula:</span> 190238421</p>
                        <p><span class="label">Teléfono:</span> 8478-0923</p>
                        <p><span class="label">Correo:</span> josearr@gmail.com</p>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" asp-append-version="true" /></script>
</body>

</html>
